@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

div#app{
    /* background-color: yellow; */
    
    /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #BA3F1D
}

a {
    text-decoration: none;
}

h4 {
    color: white;
}